:root {
    --primary-color: #694b09;
    --secondary-color: #3adeec;
    --medium-primary-color: #597c55;
    --medium-secondary-color: #4aada0;
}

p {
    font-size: larger;
}

.item:disabled:hover {
    cursor: not-allowed;
}

body {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
}

#container {
    background-color: var(--primary-color);
    color: var(--medium-secondary-color);
    padding: 2rem 2rem 0.5rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.play-zone {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.play-zone div {
    background-color: var(--medium-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 5px;
    width: 15%;
}

.play-zone div button {
    background-color: transparent;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border: none;
}

.item {
    cursor: pointer;
}

.item:active {
    background-color: var(--medium-secondary-color);
}


img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

/* Scores sections */

#scores {
    display: flex;
    justify-content: space-between;
}

#scores .player-score,
#scores .computer-score {
    font-weight: bolder;
}

#scores span.value {
    color: var(--secondary-color);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#results {
    margin-top: 2rem;
}

.round {
    display: flex;
    justify-content: space-between;
    margin-top: 0.06rem;
}

.round .how {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: medium;
    width: 65%;
    background-color: var(--medium-primary-color);
}